<div id="footer" class="panel" style="margin-bottom: 1px;">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-6">
			<p>&copy 2024 Relational ML Lab.</p>
			<p>We are part of the <a href="https://cispa.de">CISPA Helmholtz Center for Information Security</a>, at the <a href="https://www.uni-saarland.de">Saarland University</a> campus.</p>
		</div>
		<div class="col-sm-6">
		  <p>Contact:</p>
		  <p>Stuhlsatzenhaus 5, 66123 Saarbrücken, Germany<br>
            (<a href="https://cispa.de/en/contact#location">Directions</a>)</p>
		</div>
	  </div>
	</div>
  </div>
</div>