---
layout: default
---
<div id="publications" class="col-sm-12">
  {{ content }}  
  <br>
</div>

<script>
  document.getElementById('memberselect').addEventListener('change', function() {
      var member = this.value;
      var entries = document.querySelectorAll('.row');
      entries.forEach(function(entry) {
      if (entry.id.includes('bib')) {
          if (entry.authors.includes(member)) {
              entry.style.display = 'flex';
          } else {
              entry.style.display = 'none';
          }
      }
      });
  });
</script>